<launch>

  <!-- Map server -->
  <arg name="scan_topic" default="scan"/>
  <!-- Please enter the path of your map file below. -->
  <arg name="map_file" default="$(find minilab_simulation)/map/couloir.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--If you use a starting position different than (0,0,0), you should then change the defaults below.>
  <arg name="initial_pose_x" default="0.032"/> 
  <arg name="initial_pose_y" default="-4.074"/> 
  <arg name="initial_pose_a" default="0.0"/-->
  <!--- Run AMCL -->
  <include file="$(find minilab_simulation)/navigation/amcl_diff.launch"/>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
      
    <rosparam file="$(find minilab_simulation)/navigation/move_base_params.yaml" command="load" />
    <rosparam file="$(find minilab_simulation)/navigation/sim/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find minilab_simulation)/navigation/sim/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find minilab_simulation)/navigation/sim/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find minilab_simulation)/navigation/sim/global_costmap_params.yaml" command="load" />
   
   
    <!--rosparam file="$(find minilab_simulation)/navigation/sim/sbpl_global_params.yaml" command="load" /-->
   
   
    <!--rosparam file="$(find minilab_simulation)/navigation/sim/eband_planner_params.yaml" command="load" /-->
    <rosparam file="$(find minilab_simulation)/navigation/sim/base_local_planner_params.yaml" command="load" />

 
	

	
    
    
  </node>




</launch>


